<html lang="en">
  <head>
    <title>Github Integration in NestJS</title>
  </head>
  <body>
    <center>
    <h1>This app will add all files in sql database to a repository named "truefoundry_assignment"</h1>
    <!-- EDIT YOUR CLIENT_ID in the below URL  -->
    <a href="https://github.com/login/oauth/authorize?client_id=<YOUR CLIENT ID>&redirect_uri=http://localhost:3000/api/auth/github?path=/&scope=repo">
      Click here to authorize your github account
    </a>
  </center>
    
  </body>
</html>